#
# Copyright (C) 2022 The LineageOS Project
# SPDX-License-Identifier: GPL-2.0-only
#

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=cannong
    enable vendor.nfc_hal_service
