#
# Copyright (C) 2023 The LineageOS Project
# SPDX-License-Identifier: GPL-2.0-only
#

on init
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

on boot
    chown system system /sys/bus/platform/devices/fingerprint/clk_enable
    chmod 0660 /sys/bus/platform/devices/fingerprint/clk_enable
    chown system system /sys/bus/platform/devices/fingerprint/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/fingerprint/wakeup_enable
    chown system system /sys/bus/platform/devices/fingerprint/irq
    chmod 0660 /sys/bus/platform/devices/fingerprint/irq
    chown system system /sys/bus/spi/devices/spi5.0/authen_fd/performance
    chmod 0660 /sys/bus/spi/devices/spi5.0/authen_fd/performance
    chown system system /sys/bus/platform/devices/fingerprint/fingerdown_wait

on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

service nqnfc_1_2_hal_service /vendor/bin/hw/vendor.nxp.hardware.nfc@1.2-service
    class hal
    user nfc
    group nfc
    disabled

service vendor.secure_element /vendor/bin/hw/vendor.microtrust.hardware.se@1.0-service
    class late_start
    user system
    group nfc
    disabled

service mtk_secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.0-service-mediatek
    class hal
    user secure_element
    group secure_element
    disabled

on boot && property:ro.boot.product.hardware.sku=nfc
    enable vendor.secure_element
    enable mtk_secure_element_hal_service
    enable vendor.nfc_hal_service
    enable nqnfc_1_2_hal_service
